In [2]:
import pandas as pd

df = pd.read_csv("sRNATarBase3_w_target_from_1_to_terminal.csv")

In [3]:
df.columns

Index(['ID', 'SRNA_NAME', 'SRNA_ALIAS', 'TARGET_NAME', 'TARGET_ALIAS', 'TAXID',
       'ORG_CODE', 'STRAIN_NAME', 'SRNA_TYPE', 'SRNA_LENGTH', 'SRNA_START',
       'SRNA_END', 'SRNA_STRAND', 'TARGET_TYPE', 'TARGET_LENGTH',
       'TARGET_START', 'TARGET_END', 'TARGET_STRAND', 'REGULATION', 'PMID',
       'SRNA_SEQ', 'TARGET_REGION', 'TARGET_SEQ'],
      dtype='object')

In [4]:
df.drop(['ID', 'REGULATION', 'PMID', 'SRNA_SEQ', 'TARGET_SEQ'], axis=1, inplace=True)

In [5]:
df.shape

(752, 18)

In [6]:
srna = df[['SRNA_NAME', 'SRNA_ALIAS', 'SRNA_TYPE', 'SRNA_LENGTH', 'SRNA_START', 'SRNA_END', 'SRNA_STRAND']]
target = df[['TARGET_NAME', 'TARGET_ALIAS', 'TARGET_TYPE', 'TARGET_LENGTH',
       'TARGET_START', 'TARGET_END', 'TARGET_STRAND', 'TARGET_REGION']]
bac = df[['TAXID', 'ORG_CODE', 'STRAIN_NAME']]

In [7]:
print(srna.head(2))
print(target.head(2))
print(bac.head(2))

  SRNA_NAME               SRNA_ALIAS  SRNA_TYPE SRNA_LENGTH  SRNA_START  \
0      dsrA  ECK1952; IS095; JWR0036          1          87     2025227
1      dsrA  ECK1952; IS095; JWR0036          1          87     2025227

   SRNA_END  SRNA_STRAND
0   2025313          2.0
1   2025313          2.0
  TARGET_NAME                                       TARGET_ALIAS  TARGET_TYPE  \
0         hns  B1; bglY; cur; drc; drdX; drs; ECK1232; fimG; ...            1
1        rbsD                              ECK3742; JW5857; rbsP            1

   TARGET_LENGTH  TARGET_START  TARGET_END  TARGET_STRAND TARGET_REGION
0            414       1292509     1292922            2.0        1..414
1            420       3933351     3933770            1.0        1..420
      TAXID ORG_CODE                  STRAIN_NAME
0  511145.0      eco  Escherichia coli K12 MG1655
1  511145.0      eco  Escherichia coli K12 MG1655

In [18]:
!pwd

/home/scharf/Desktop

In [19]:
#srna.to_csv('srna.csv')

In [20]:
#target.to_csv('target.csv')

In [21]:
#bac.to_csv('bacteria.csv')

In [12]:
bac.head(2)

      TAXID ORG_CODE                  STRAIN_NAME
0  511145.0      eco  Escherichia coli K12 MG1655
1  511145.0      eco  Escherichia coli K12 MG1655

In [13]:
target.head(2)

,TARGET_NAME,TARGET_ALIAS,TARGET_TYPE,TARGET_LENGTH,TARGET_START,TARGET_END,TARGET_STRAND,TARGET_REGION
0,hns,B1; bglY; cur; drc; drdX; drs; ECK1232; fimG; ...,1,414,1292509,1292922,2.0,1..414
1,rbsD,ECK3742; JW5857; rbsP,1,420,3933351,3933770,1.0,1..420

In [14]:
srna.head(2)

,SRNA_NAME,SRNA_ALIAS,SRNA_TYPE,SRNA_LENGTH,SRNA_START,SRNA_END,SRNA_STRAND
0,dsrA,ECK1952; IS095; JWR0036,1,87,2025227,2025313,2.0
1,dsrA,ECK1952; IS095; JWR0036,1,87,2025227,2025313,2.0

In [16]:
srna.SRNA_TYPE.unique()

array([1, 0, 2])

In [19]:
srna.SRNA_TYPE == 2

0      False
1      False
2      False
3      False
4      False
       ...
747    False
748    False
749    False
750    False
751    False
Name: SRNA_TYPE, Length: 752, dtype: bool

In [18]:
type

0      False
1      False
2      False
3      False
4      False
       ...
747    False
748    False
749    False
750    False
751    False
Name: SRNA_TYPE, Length: 752, dtype: bool

In [21]:
target.TARGET_TYPE.unique()

array([1])